// font settings:
$fontFace: ./JetBrains.ttf;
$fontHoverStyle: italic;
$fontWeight: 600;
$fontH1Size: 2.2em;
$fontH2Size: 1.2em;
$fontLiFCSize: 1.5em;
$fontASize: 1.1em;

// color settings:
$themeFg: #b6beca;
$themeFgAlt: #c68aee;
$themeAccent: #74bee9;
$themeHover: #70a5eb;
$themeBg: #171B20;
