@import "/home/papa/.cache/wal/colors-waybar.css";

* {
  border: none;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  background-color: @background;
  color: @foreground;
  border-radius: 10px;
  padding: 0px;
  transition-duration: 1s;
  box-shadow: none; 
  background: transparent;
}

tooltip {
  background-color: @background; 
  border-radius: 0px;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(26, 27, 38, 0); 
  color: @foreground;
}

#workspaces button {
  margin-right: 0px;
  color: mix(@foreground, @background, 0.4);
  border-radius: 10px;
  background-color: @background; 
}

#workspaces button.active {
  color: @color4;
}

#workspaces button.focused {
  color: @color6;
}

#workspaces button.urgent {
  color: @foreground;
  background-color: @background;  
}

#workspaces button:hover {
  color: @color3;
}

#temperature {
  color: mix(@color5, @foreground, 0.8);
}

#temperature.critical {
  color: @color5;
}

#backlight {
    color:@color6;
}

#workspaces {
  padding: 0px;
  background-color: @foreground;
}

#mpris {
  color: @color4;
}

#custom-cava {
  color: @color4;
}

#custom-euro {
  color: @color4;
}

#custom-power_profile {
  color: mix(@color2, @foreground, 0.5);
}

#window {
  color: @foreground;
}

#clock {
  color: @color4;
}

#workspaces,
#light,
#audio {
  background-color: @background; 
}

#custom-arch {
  color: #1793d1;
}

#custom-quit {
  color: mix(@BANANA, @foreground, 0.6);
}

#custom-lock {
  color: mix(@color2, @foreground, 0.6);
}

#custom-sleep {
  color: mix(@color6, @foreground, 0.6);
}

#custom-reboot {
  color: mix(@ORANGE, @foreground, 0.6);
}

#custom-shutdown {
  color: mix(@color5, @foreground, 0.6);
}

#network {
  color:@color1;
}

#bluetooth {
  color:@color3;
}

#pulseaudio:not(.microphone) {
  color: mix(@BANANA, @foreground, 0.5);
}

#pulseaudio.microphone {
  color: mix(@color2, @foreground, 0.5);
}

#pulseaudio.bluetooth:not(.microphone) {
  color: mix(@color6, @foreground, 0.5);
}

#pulseaudio.muted:not(.microphone) {
  color: mix(@color5, @foreground, 0.5);
}

#pulseaudio.microphone.source-muted {
  color: mix(@color5, @foreground, 0.5);
}

#battery {
  color: mix(@color2, @foreground, 0.5);
}

battery.bat2 {
  color: mix(@color2, @foreground, 0.5);
}

#custom-weather {
  color: mix(@ORANGE, @foreground, 0.5);
}

#tray {
  padding: 0;
}

window#waybar > box > box > widget > *,
window#waybar > box > box > box {
  margin: 0 5px;
  border-radius: 10px;
  background-color: @background; 
}

widget > * {
  padding: 0 10px;
  background-color: @background; 
}

slider {
  min-height: 0px;
  min-width: 0px;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
  background-color: rgba(26, 27, 38, 0); 
}

trough {
  min-height: 20px;
  min-width: 80px;
  border-radius: 10px;
  background-color: @background; 
}

highlight {
  min-height: 10px;
  border-radius: 10px;
  background-color: @background; 
}

#light {
  border-radius: 10px;
  background-color: @background; 
}
