
window {
  margin: 0px;
  border: 0 solid #1a1b26;
  background-color: rgba(26, 27, 38, 0.9);
  border-radius: 0;
}

#input {
  all: unset;
  min-height: 36px;
  padding: 4px 10px;
  margin: 4px;
  border: none;
  color: #c0caf5;
  font-weight: bold;
  background-color: #1a1b26;
  outline: none;
  border-radius: 15px;
  margin: 10px;
  margin-bottom: 2px;
}

#inner-box {
  margin: 4px;
  padding: 10px;
  font-weight: bold;
  border-radius: 0px;
}

#outer-box {
  margin: 0px;
  padding: 3px;
  border: none;
  border-radius: 0px;
  border: 5px solid #1a1b26;
}

#scroll {
  margin-top: 4px;
  border: none;
  border-radius: 15px;
  margin-bottom: 0px;
}

#text:selected {
  color: #c0caf5;
  margin: 0px 0px;
  border: none;
  border-radius: 15px;
}

#entry {
  margin: 0px 0px;
  border: none;
  border-radius: 0px;
  background-color: transparent;
}

#entry:selected {
  margin: 0px 0px;
  border: none;
  border-radius: 0px;
  background: linear-gradient(90deg, #7aa2f7 0%, #bb9af7 100%);
}
