
startup_commands toggle_custom_color
ui_font JetBrainsMono Nerd Font
# === TOKYO NIGHT === #
background_color           #1a1b26

text_highlight_color       #f7768e
visual_mark_color          #7aa2f7

search_highlight_color     #ff9e64
link_highlight_color       #bb9af7
synctex_highlight_color    #9ece6a

highlight_color_a          #ff9e64
highlight_color_b          #9ece6a
highlight_color_c          #7aa2f7
highlight_color_d          #bb9af7
highlight_color_e          #7dcfff
highlight_color_f          #f7768e
highlight_color_g          #ff9e64

custom_background_color    #1a1b26
custom_text_color          #a9b1d6

ui_text_color              #a9b1d6
ui_background_color        #24283b
ui_selected_text_color     #a9b1d6
ui_selected_background_color #444b6a
